doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title #{title}
    link(rel="stylesheet", href="/stylesheets/style.css")
  body
    header.header-container
      h1.class-home Price Tier
      form(action="/logout" method="POST" class="logout-form")
        button(type="submit" class="btn logout-button") Logout
    nav
      div.button-containers
        form(action="/list/list" method="get")
          button(type="submit" class="btn btn-csv") Ruleset List 
        form(action="/profile" method="get")
          button(type="submit" class="btn btn-manual") Customer Profiles List 
           form(action="/home" method="get")
          button(type="submit" class="btn btn-csv" disabled) Upload CSV
        form(action="/home/rules/create" method="get")
          button(type="submit" class="btn btn-manual") Upload Prices Manually
    main
      div.description-box
        h2 Description
        p Use the buttons above to either upload a CSV file or navigate to the manual upload page. This interface is designed to simplify data management.